openapi: 3.0.3
info:
  title: Adobe Cloud Storage and Collaboration
  version: v1
servers:
  - url: https://cloudstorage.adobe.io/v1
    description: Production Server
    x-server: prod
security:
  - Authorization: []
tags:
  - name: Projects
    description: |
      Projects are durable spaces used by teams to organize and collaborate on cloud documents and related cloud
      content. Along with serving as a collection, they can be used to point to a particular asset.
  - name: Folders
    description: |
      A construct that can contain assets and other folders, enabling logical organization of assets.
  - name: Files
    description: |
      Assets typically created through non-Adobe applications. The MIME type indicates the asset type.
  - name: Jobs
    description: |
      Represents long running tasks in the system that are created by invoking specific operations.
paths:
  /projects:
    get:
      operationId: getProjects
      summary: Get Paginated List of Projects
      tags:
        - Projects
      description: |
        This endpoint returns a paginated list of all Projects within the organization's ESM shared storage that the requester is authorized to access.

        ---
        > NOTE:  
        > * Includes only **CC Projects**.
        > * The response supports **cursor-based pagination** and includes a `nextUrl` field when additional pages are available.
        > * If there are no further results, the `nextUrl` field is omitted.
        > * Each item in the response provides **basic metadata** about the project.
        ---
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/projectsSortBy'
        - $ref: '#/components/parameters/projectsFilter'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/paginatedProjectsResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '422':
          $ref: '#/components/responses/invalidRequestPagedResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
    post:
      operationId: createProject
      summary: Create a new project.
      parameters:
        - $ref: '#/components/parameters/requestId'
      tags:
        - Projects
      description: |
        This endpoint creates a new CC Project within the organization's ESM shared storage, provided the user has the necessary permissions.
      requestBody:
        $ref: '#/components/requestBodies/projectCreateRequest'
      responses:
        '201':
          description: |
            **Created** - The project was created successfully.
          headers:
            location:
              $ref: '#/components/headers/location'
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectAsset'
              examples:
                createProject:
                  $ref: '#/components/examples/singleProject'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorProjectCreateResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /projects/{assetId}:
    get:
      operationId: getProject
      summary: Get a project by ID
      description: |
        This endpoint retrieves full metadata for a specific Project identified by its assetId. This includes project attributes such as name, type, creation details, and permissions.  

        ---
        > NOTE:  
        > * The project must exist and the requester must have at least read-level access.
        > * If the project is not found or access is denied, appropriate error responses will be returned.
        > * Discarded projects can be retrieved using this endpoint.
        > * If the project exists, but the requester does not have the requisite permissions:
        >   - The API will behave as if the project does not exist.
        >   - It will return a 404 Not Found response, even though the asset technically exists in the system.
        ---
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: |
            **Success** - Retrieved information about the project
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectAsset'
              examples:
                projectById:
                  $ref: '#/components/examples/singleProject'
        '304':
          $ref: '#/components/responses/matchedEtagResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
    delete:
      operationId: deleteProject
      summary: Delete project by ID
      description: |
        This endpoint deletes(soft deletion) or permanently deletes(hard deletion) an existing CC Project, identified by its `assetId`, along with
        all its descendant assets, from the organization’s ESM shared storage.

        ---
        > NOTE:  
        > * In order to perform hard deletion, the project must be in DELETED state.
        > * The requester must have sufficient permission to perform destructive actions on the project.
        > * If the project is not found or access is denied, appropriate error responses will be returned.
        ---
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/permanent'
      responses:
        '204':
          description: |
            **Success** - The project was deleted successfully
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '412':
          $ref: '#/components/responses/preconditionFailedResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '504':
          description: |
            **Operation Timed Out** - The operation took longer than 60 seconds. The operation will continue after the timeout.
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                operationTimedOut:
                  $ref: '#/components/examples/operationTimedOut'
  /projects/{assetId}/rename:
    post:
      operationId: renameProject
      summary: Rename a project.
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      tags:
        - Projects
      description: |
        This endpoint updates the name of an existing Project, identified by its `assetId`, within the organization's
        ESM shared storage. This operation is only permitted if the requester has appropriate write-level permissions
        on the project.  

        ---
        > NOTE:  
        > * Only the name of the project can be modified using this endpoint.
        > * All other project metadata remains unchanged.
        > * If the requester lacks the required permissions or the project does not exist, an appropriate error response
        > will be returned.
        ---
      requestBody:
        $ref: '#/components/requestBodies/projectRenameRequest'
      responses:
        '200':
          description: |
            **Updated** - The project was renamed successfully.
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectAsset'
              examples:
                renameProject:
                  $ref: '#/components/examples/singleProject'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '412':
          $ref: '#/components/responses/preconditionFailedResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
        '507':
          $ref: '#/components/responses/storageQuotaExceededResponse'
  /projects/{assetId}/restore:
    post:
      operationId: restoreProject
      summary: Restore a soft-deleted project.
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      tags:
        - Projects
      description: |
        This endpoint restores an existing project, identified by its `assetId`, within the organization's ESM shared storage 
        to an ACTIVE state. Descendants of the project will have their states recomputed to their previous state. This operation
        is only permitted if the requester has appropriate write-level permissions on the project.

        ---
        > NOTE:
        > * Projects already in an ACTIVE state will remain ACTIVE and return 200 OK.
        > * Descendants that were in a DELETED state prior to the deletion of this project will remain DELETED. Their respective
        descendants will also remain in the DELETED_PARENT or DELETED state as before.
        > * Hard-deleted projects will return a 404 Not Found error.
        > * If the requester lacks the required permissions or the project does not exist, an appropriate error response
        > will be returned.
        ---
      responses:
        '200':
          description: |
            **Success** - Retrieved information about the project
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectAsset'
              examples:
                restoreProject:
                  $ref: '#/components/examples/singleProject'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /projects/{assetId}/children:
    get:
      operationId: getProjectChildren
      summary: Get Paginated List of Children of a Project
      tags:
        - Projects
      description: |
        This endpoint retrieves a paginated list of top-level assets (folders, files, or other resources) contained within
        a specified project, identified by its `assetId`. This allows clients to explore the immediate children of the
        project, supporting use cases like project browsing and navigation.  

        The response includes all assets that the requester is authorized to view — regardless of asset type — excluding
        any that are hidden or discarded. Each item in the list contains basic metadata about the asset such as name, type,
        path, and identifiers.  

        ---
        > NOTE:  
        > * The response supports **cursor-based pagination** and includes a `nextUrl` field when additional pages are available.
        > * If there are no further results, the `nextUrl` field is omitted.
        > * The requester must have at least read-level access to the project.
        > * Assets are returned with basic metadata such as name, type, and hierarchy position.
        ---
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/assetsSortBy'
        - $ref: '#/components/parameters/assetsFilter'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/paginatedAssetsResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '422':
          $ref: '#/components/responses/invalidRequestPagedResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /projects/{assetId}/effective-permission:
    get:
      operationId: getProjectEffectivePermission
      summary: Get User's Effective Permissions for a Project
      tags:
        - Projects
      description: |
        The endpoint retrieves the **effective permission (role)** assigned to the user for a specific project,
        identified by its `assetId`. It evaluates the users access based on: 
          * **Direct permissions** assigned to the project.
          * **Predefined principals**, such as `orgEverybody` or group-based access rules.
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/projectPermissionResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /projects/{assetId}/permissions:
    get:
      operationId: getProjectPermissions
      summary: Get All roles for a Project
      deprecated: true
      tags:
        - Projects
      description: |
        > This endpoint is deprecated and will be removed on 3/31/2025. Please use the /projects/{assetId}/roles endpoint instead.

        The endpoint retrieves the **explicit roles** assigned to all users and groups for a specific project,
        identified by its `assetId`. This includes only the **direct access control entries** defined on the project itself
        and does not include any roles that are inherited from parent folders or collections.

        ---
        > NOTE:  
        > * The response lists all users and groups that have direct access to the project, along with their respective
        >   roles (e.g., comment, edit).
        > * This data is useful for auditing and role management but does not represent the full effective access
        >   unless inheritance is also considered.
        > * The project must exist and the requester must have at least read-level access. If the project is not found or
        >   access is denied, appropriate error responses will be returned.
        ---
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/getAssetRolesResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
    patch:
      operationId: patchProjectPermissions
      summary: Patch Roles for a Project
      deprecated: true
      tags:
        - Projects
      description: |
        > This endpoint is deprecated and will be removed on 3/31/2025. Please use the /projects/{assetId}/roles endpoint instead.

        This endpoint is used to manage the direct roles of a specific project, identified by its `assetId`. It allows
        clients to perform multiple types of role changes in a single request, including:
          * Addition of new users or groups to the access control list.
          * Update of roles for existing users or groups.
          * Removal of users or groups from the access control list.

        ---
        > NOTE:  
        > * The request body supports three arrays: `additions`, `updates`, and `deletions`.
        > * Multiple principals can be included across each action type.
        > * Each principal must be mentioned only once across the entire request body.
        > * Role changes are deeply inherited — they apply to the project and all of its descendant assets.

        > ## Validation Rules
        > | Action | Behavior |
        > | ------ | -------- |
        > | additions | Must include users/groups that **do not already exist** in the current ACL. |
        > | updates | Must target users/groups that **already exist** in the current ACL. |
        > | deletions | Must target users/groups that **already exist** in the current ACL. |
        ---
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      requestBody:
        $ref: '#/components/requestBodies/patchAssetRoles'
      responses:
        '200':
          $ref: '#/components/responses/patchAssetRolesResponse'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          description: |
            **Unprocessable Request** - The request cannot be processed due to semantic errors
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                missingRequiredField:
                  $ref: '#/components/examples/missingRequiredField'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /projects/{assetId}/roles:
    get:
      operationId: getProjectRoles
      summary: Get All roles for a Project
      tags:
        - Projects
      description: |
        The endpoint retrieves the **explicit roles** assigned to all users and groups for a specific project,
        identified by its `assetId`. This includes only the **direct access control entries** defined on the project itself
        and does not include any roles that are inherited from parent folders or collections.

        ---
        > NOTE:  
        > * The response lists all users and groups that have direct access to the project, along with their respective
        >   roles (e.g., comment, edit).
        > * This data is useful for auditing and role management but does not represent the full effective access
        >   unless inheritance is also considered.
        > * The project must exist and the requester must have at least read-level access. If the project is not found or
        >   access is denied, appropriate error responses will be returned.
        ---
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/getAssetRolesResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
    patch:
      operationId: patchProjectRoles
      summary: Patch Roles for a Project
      tags:
        - Projects
      description: |
        This endpoint is used to manage the direct roles of a specific project, identified by its `assetId`. It allows
        clients to perform multiple types of role changes in a single request, including:
          * Addition of new users or groups to the access control list.
          * Update of roles for existing users or groups.
          * Removal of users or groups from the access control list.

        ---
        > NOTE:  
        > * The request body supports three arrays: `additions`, `updates`, and `deletions`.
        > * Multiple principals can be included across each action type.
        > * Each principal must be mentioned only once across the entire request body.
        > * Role changes are deeply inherited — they apply to the project and all of its descendant assets.

        > ## Validation Rules
        > | Action | Behavior |
        > | ------ | -------- |
        > | additions | Must include users/groups that **do not already exist** in the current ACL. |
        > | updates | Must target users/groups that **already exist** in the current ACL. |
        > | deletions | Must target users/groups that **already exist** in the current ACL. |
        ---
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      requestBody:
        $ref: '#/components/requestBodies/patchAssetRoles'
      responses:
        '200':
          $ref: '#/components/responses/patchAssetRolesResponse'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          description: |
            **Unprocessable Request** - The request cannot be processed due to semantic errors
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                missingRequiredField:
                  $ref: '#/components/examples/missingRequiredField'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /folders:
    post:
      operationId: createFolder
      summary: Create a new folder.
      parameters:
        - $ref: '#/components/parameters/requestId'
      tags:
        - Folders
      description: |
        This endpoint creates a folder or folder hierarchy under a specified parent container, which may be a Project
        or another Folder. The client must supply either a `name` (for single folder creation) or a `path` (for hierarchy creation).
      requestBody:
        $ref: '#/components/requestBodies/folderCreateRequest'
      responses:
        '201':
          description: |
            **Created** - The folder was created successfully.
          headers:
            location:
              $ref: '#/components/headers/location'
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folderAsset'
              examples:
                createFolder:
                  $ref: '#/components/examples/singleFolder'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorFolderCreateResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /folders/{assetId}:
    get:
      operationId: getFolder
      summary: Get a folder by ID
      description: |
        This endpoint retrieves full metadata for a specific Folder identified by its assetId. This includes folder attributes such as name, type, creation details, and permissions.  

        ---
        > NOTE:  
        > * The folder must exist and the requester must have at least read-level access.
        > * If the folder is not found or access is denied, appropriate error responses will be returned.
        > * Discarded folders can be retrieved using this endpoint.
        > * If the folder exists, but the requester does not have the requisite permissions:
        >   - The API will behave as if the folder does not exist.
        >   - It will return a 404 Not Found response, even though the asset technically exists in the system.
        ---
      tags:
        - Folders
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: |
            **Success** - Retrieved information about the folder
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folderAsset'
              examples:
                folderById:
                  $ref: '#/components/examples/singleFolder'
        '304':
          $ref: '#/components/responses/matchedEtagResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
    delete:
      operationId: deleteFolder
      summary: Delete folder by ID
      description: |
        This endpoint deletes(soft deletion) or permanently deletes(hard deletion) an existing folder, identified by its `assetId`, along with
        all its descendant assets, from the organization’s ESM shared storage.

        ---
        > NOTE:  
        > * In order to perform hard deletion, the folder must be in DELETED state. 
        > * The requester must have sufficient permission to perform destructive actions on the folder.
        > * If the folder is not found or access is denied, appropriate error responses will be returned.
        ---
      tags:
        - Folders
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/permanent'
      responses:
        '204':
          description: |
            **Success** - The folder was deleted successfully
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '412':
          $ref: '#/components/responses/preconditionFailedResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '504':
          description: |
            **Operation Timed Out** - The operation took longer than 60 seconds. The operation will continue after the timeout.
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                operationTimedOut:
                  $ref: '#/components/examples/operationTimedOut'
  /folders/{assetId}/rename:
    post:
      operationId: renameFolder
      summary: Rename a folder.
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      tags:
        - Folders
      description: |
        This endpoint updates the name of an existing Folder, identified by its `assetId`. This operation is only permitted if the requester has appropriate write-level permissions
        on the folder.  

        ---
        > NOTE:  
        > * Only the name of the folder can be modified using this endpoint.
        > * All other folder metadata remains unchanged.
        > * If the requester lacks the required permissions or the folder does not exist, an appropriate error response
        > will be returned.
        ---
      requestBody:
        $ref: '#/components/requestBodies/folderRenameRequest'
      responses:
        '200':
          description: |
            **Updated** - The folder was renamed successfully.
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folderAsset'
              examples:
                renameFolder:
                  $ref: '#/components/examples/singleFolder'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
        '507':
          $ref: '#/components/responses/storageQuotaExceededResponse'
  /folders/{assetId}/restore:
    post:
      operationId: restoreFolder
      summary: Restore a soft-deleted folder.
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      tags:
        - Folders
      description: |
        This endpoint restores an existing folder, identified by its `assetId`, within the organization's ESM shared storage 
        to an ACTIVE state. Descendants of the folder will have their states recomputed to their previous state. This operation
        is only permitted if the requester has appropriate write-level permissions on the folder.

        ---
        > NOTE:
        > * Folders already in an ACTIVE state will remain ACTIVE and return 200 OK.
        > * Restore operations can only be invoked on roots of DELETED trees. Restore calls made on assets in a DELETED_PARENT
        state will return a 409 Conflict error.
        > * Descendants of this folder that were in a DELETED state prior its deletion will remain DELETED. Their respective
        descendants will also remain in a DELETED_PARENT or DELETED state as before.
        > * Hard-deleted folders will return a 404 Not Found error.
        > * If an asset with the same path already exists, the restored folder will be renamed automatically.
        > * If the requester lacks the required permissions or the folder does not exist, an appropriate error response
        > will be returned.
        ---
      responses:
        '200':
          description: |
            **Success** - Retrieved information about the folder
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folderAsset'
              examples:
                restoreFolder:
                  $ref: '#/components/examples/singleFolder'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /folders/{assetId}/children:
    get:
      operationId: getFolderChildren
      summary: Get Paginated List of Children of a Folder
      tags:
        - Folders
      description: |
        This endpoint retrieves a paginated list of top-level assets (folders, files, or other resources) contained within
        a specified folder, identified by its `assetId`. This allows clients to explore the immediate children of the
        folder, supporting use cases like folder browsing and navigation.  

        The response includes all assets that the requester is authorized to view — regardless of asset type — excluding
        any that are hidden or discarded. Each item in the list contains basic metadata about the asset such as name, type,
        path, and identifiers.  

        ---
        > NOTE:  
        > * The response supports **cursor-based pagination** and includes a `nextUrl` field when additional pages are available.
        > * If there are no further results, the `nextUrl` field is omitted.
        > * The requester must have at least read-level access to the folder.
        > * Assets are returned with basic metadata such as name, type, and hierarchy position.
        ---
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/assetsSortBy'
        - $ref: '#/components/parameters/assetsFilter'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/paginatedAssetsResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '422':
          $ref: '#/components/responses/invalidRequestPagedResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /folders/{assetId}/effective-permission:
    get:
      operationId: getFolderEffectivePermission
      summary: Get User's Effective Permissions for a Folder
      tags:
        - Folders
      description: |
        The endpoint retrieves the **effective permission (role)** assigned to the user for a specific folder,
        identified by its `assetId`. It evaluates the users access based on: 
          * **Direct permissions** assigned to the folder.
          * **Inherited permissions** from ancestor folders or the containing project.
          * **Predefined principals**, such as `orgEverybody` or group-based access rules.
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/folderPermissionResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /files/{assetId}:
    get:
      operationId: getFile
      summary: Get a file by ID
      description: |
        This endpoint retrieves full metadata for a specific File identified by its assetId. This includes file attributes such as name, type, creation details, and permissions.  

        ---
        > NOTE:  
        > * The file must exist and the requester must have at least read-level access.
        > * If the file is not found or access is denied, appropriate error responses will be returned.
        > * Discarded files can be retrieved using this endpoint.
        > * If the file exists, but the requester does not have the requisite permissions:
        >   - The API will behave as if the file does not exist.
        >   - It will return a 404 Not Found response, even though the asset technically exists in the system.
        ---
      tags:
        - Files
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: |
            **Success** - Retrieved information about the file
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fileAsset'
              examples:
                fileById:
                  $ref: '#/components/examples/singleFile'
        '304':
          $ref: '#/components/responses/matchedEtagResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
    delete:
      operationId: deleteFile
      summary: Delete file by ID
      description: |
        This endpoint deletes(soft deletion) or permanently deletes(hard deletion) an existing file, identified by its `assetId`, from the organization’s ESM shared storage.

        ---
        > NOTE:  
        > * In order to perform hard delete, the file must be in DELETED state.
        > * The requester must have sufficient permissions to perform destructive actions on the file.
        > * If the file is not found or access is denied, appropriate error responses will be returned.
        ---
      tags:
        - Files
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/permanent'
      responses:
        '204':
          description: |
            **Success** - The file was deleted successfully
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '412':
          $ref: '#/components/responses/preconditionFailedResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
  /files/{assetId}/rename:
    post:
      operationId: renameFile
      summary: Rename a file.
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      tags:
        - Files
      description: |
        This endpoint updates the name of an existing File, identified by its `assetId`. This operation is only permitted if the requester has appropriate write-level permissions
        on the file.  

        ---
        > NOTE:  
        > * Only the name of the file can be modified using this endpoint.
        > * All other file metadata remains unchanged.
        > * If the requester lacks the required permissions or the file does not exist, an appropriate error response
        > will be returned.
        ---
      requestBody:
        $ref: '#/components/requestBodies/fileRenameRequest'
      responses:
        '200':
          description: |
            **Updated** - The file was renamed successfully.
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fileAsset'
              examples:
                renameFile:
                  $ref: '#/components/examples/singleFile'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
        '507':
          $ref: '#/components/responses/storageQuotaExceededResponse'
  /files/{assetId}/restore:
    post:
      operationId: restoreFile
      summary: Restore a soft-deleted file.
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      tags:
        - Files
      description: |
        This endpoint restores an existing file, identified by its `assetId`, within the organization's ESM shared storage 
        to an ACTIVE state. This operation is only permitted if the requester has appropriate write-level permissions on the file.

        ---
        > NOTE:
        > * Files already in an ACTIVE state will remain ACTIVE and return 200 OK.
        > * Restore calls made on assets in a DELETED_PARENT state will return a 409 Conflict error.
        > * Hard-deleted files will return a 404 Not Found error.
        > * If an asset with the same path already exists, the restored file will be renamed automatically.
        > * If the requester lacks the required permissions or the file does not exist, an appropriate error response
        > will be returned.
        ---
      responses:
        '200':
          description: |
            **Success** - Retrieved information about the file
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fileAsset'
              examples:
                restoreFile:
                  $ref: '#/components/examples/singleFile'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /files/{assetId}/effective-permission:
    get:
      operationId: getFileEffectivePermission
      summary: Get User's Effective Permissions for a File
      tags:
        - Files
      description: |
        The endpoint retrieves the **effective permission (role)** assigned to the user for a specific file,
        identified by its `assetId`. It evaluates the users access based on: 
          * **Direct permissions** assigned to the file.
          * **Inherited permissions** from ancestor folders or the containing project.
          * **Predefined principals**, such as `orgEverybody` or group-based access rules.
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/filePermissionResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /files/{assetId}/permissions:
    get:
      operationId: getFilePermissions
      summary: Get All roles for a File
      deprecated: true
      tags:
        - Files
      description: |
        > This endpoint is deprecated and will be removed on 3/31/2025. Please use the /files/{assetId}/roles endpoint instead.

        The endpoint retrieves the **explicit roles** assigned to all users and groups for a specific file,
        identified by its `assetId`. This includes only the **direct access control entries** defined on the file itself
        and does not include any roles that are inherited from parent folders or the containing project.

        ---
        > NOTE:  
        > * The response lists all users and groups that have direct access to the file, along with their respective
        >   roles (e.g., comment, edit).
        > * This data is useful for auditing and role management but does not represent the full effective access
        >   unless inheritance is also considered.
        > * The file must exist and the requester must have at least read-level access. If the file is not found or
        >   access is denied, appropriate error responses will be returned.
        ---
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/getAssetRolesResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
    patch:
      operationId: patchFilePermissions
      summary: Patch Roles for a File
      deprecated: true
      tags:
        - Files
      description: |
        > This endpoint is deprecated and will be removed on 3/31/2025. Please use the /files/{assetId}/roles endpoint instead.

        This endpoint is used to manage the direct roles of a specific file, identified by its `assetId`. It allows
        clients to perform multiple types of role changes in a single request, including:
          * Addition of new users or groups to the access control list.
          * Update of roles for existing users or groups.
          * Removal of users or groups from the access control list.

        ---
        > NOTE:  
        > * The request body supports three arrays: `additions`, `updates`, and `deletions`.
        > * Multiple principals can be included across each action type.
        > * Each principal must be mentioned only once across the entire request body.
        > * Role changes apply directly to the file.

        > ## Validation Rules
        > | Action | Behavior |
        > | ------ | -------- |
        > | additions | Must include users/groups that **do not already exist** in the current ACL. |
        > | updates | Must target users/groups that **already exist** in the current ACL. |
        > | deletions | Must target users/groups that **already exist** in the current ACL. |
        ---
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      requestBody:
        $ref: '#/components/requestBodies/patchAssetRoles'
      responses:
        '200':
          $ref: '#/components/responses/patchAssetRolesResponse'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          description: |
            **Unprocessable Request** - The request cannot be processed due to semantic errors
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                missingRequiredField:
                  $ref: '#/components/examples/missingRequiredField'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /files/{assetId}/roles:
    get:
      operationId: getFileRoles
      summary: Get All roles for a File
      tags:
        - Files
      description: |
        The endpoint retrieves the **explicit roles** assigned to all users and groups for a specific file,
        identified by its `assetId`. This includes only the **direct access control entries** defined on the file itself
        and does not include any roles that are inherited from parent folders or the containing project.

        ---
        > NOTE:  
        > * The response lists all users and groups that have direct access to the file, along with their respective
        >   roles (e.g., comment, edit).
        > * This data is useful for auditing and role management but does not represent the full effective access
        >   unless inheritance is also considered.
        > * The file must exist and the requester must have at least read-level access. If the file is not found or
        >   access is denied, appropriate error responses will be returned.
        ---
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/getAssetRolesResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
    patch:
      operationId: patchFileRoles
      summary: Patch Roles for a File
      tags:
        - Files
      description: |
        This endpoint is used to manage the direct roles of a specific file, identified by its `assetId`. It allows
        clients to perform multiple types of role changes in a single request, including:
          * Addition of new users or groups to the access control list.
          * Update of roles for existing users or groups.
          * Removal of users or groups from the access control list.

        ---
        > NOTE:  
        > * The request body supports three arrays: `additions`, `updates`, and `deletions`.
        > * Multiple principals can be included across each action type.
        > * Each principal must be mentioned only once across the entire request body.
        > * Role changes apply directly to the file.

        > ## Validation Rules
        > | Action | Behavior |
        > | ------ | -------- |
        > | additions | Must include users/groups that **do not already exist** in the current ACL. |
        > | updates | Must target users/groups that **already exist** in the current ACL. |
        > | deletions | Must target users/groups that **already exist** in the current ACL. |
        ---
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      requestBody:
        $ref: '#/components/requestBodies/patchAssetRoles'
      responses:
        '200':
          $ref: '#/components/responses/patchAssetRolesResponse'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          description: |
            **Unprocessable Request** - The request cannot be processed due to semantic errors
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                missingRequiredField:
                  $ref: '#/components/examples/missingRequiredField'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /files/{assetId}/copy:
    post:
      operationId: copyFile
      summary: Copies a file to a new location.
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      tags:
        - Files
      description: |
        This endpoint performs an asynchronous copy of an existing file asset, identified by its `assetId`, into another
        folder or project. The operation requires the requester to have, at minimum, the following roles:
        | Location | Role(s) |
        | -------- | ------- |
        | Source   | comment |
        | Target   | edit    |

        ---
        > NOTE:  
        > * If the requester lacks the required roles or the file does not exist, an appropriate error response will be
        > returned.
        ---
      requestBody:
        $ref: '#/components/requestBodies/fileCopyRequest'
      responses:
        '202':
          $ref: '#/components/responses/fileCopyAcceptedResponse'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
        '507':
          $ref: '#/components/responses/storageQuotaExceededResponse'
  /files/{assetId}/move:
    post:
      operationId: moveFile
      summary: Move a file to a new location.
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      tags:
        - Files
      description: |
        This endpoint performs an asynchronous move of an existing file asset, identified by its `assetId`, into another
        folder or project. The operation requires the requester to have, at minimum, the following roles:
        | Location          | Role(s) |
        | ----------------- | ------- |
        | Source            | comment |
        | Source's parent   | edit    |
        | Target            | edit    |

        ---
        > NOTE:  
        > * If the requester lacks the required roles or the file does not exist, an appropriate error response will be
        > returned.
        ---
      requestBody:
        $ref: '#/components/requestBodies/fileMoveRequest'
      responses:
        '202':
          $ref: '#/components/responses/fileMoveAcceptedResponse'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
        '507':
          $ref: '#/components/responses/storageQuotaExceededResponse'
  /files/{assetId}/download:
    get:
      operationId: downloadFile
      summary: Range Based Download of a file through a Pre-signed URL
      tags:
        - Files
      description: |
        This endpoint returns metadata and pre-signed URLs that can be used to download large files in chunks using range-based access.

        The response includes the following:
        - The pre-signed URL that supports HTTP range requests for partial downloads
        - The expiration date of the pre-signed URL
        - The size of the file in bytes
        - The MIME type of the file

        ---
        > NOTE:  
        > * The pre-signed URL is valid for a limited time and must be used within that timeframe.
        > * The requester must have at least read-level access to the file.
        ---
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/urlTTL'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/fileDownloadOKResponse'
        '202':
          $ref: '#/components/responses/fileDownloadAcceptedResponse'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /files/{assetId}/image-rendition:
    get:
      operationId: getFileImageRendition
      summary: Get an image rendition of a file by ID
      description: |
        This endpoint returns an image rendition of the specified file, suitable for display in previews, thumbnails, or alternate resolution downloads.  

        ---
        > NOTE:  
        > * The file must exist and the requester must have at least read-level access.
        > * If the file is not found or access is denied, appropriate error responses will be returned.
        > * Image renditions of discarded files can be retrieved using this endpoint.
        > * If the file exists, but the requester does not have the requisite permissions:
        >   - The API will behave as if the file does not exist.
        >   - It will return a 404 Not Found response, even though the asset technically exists in the system.
        ---
      tags:
        - Files
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/mediaType'
      responses:
        '200':
          description: |
            **Success** - Retrieved image rendition of the file
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            image/*:
              schema:
                type: string
                format: binary
        '304':
          $ref: '#/components/responses/matchedEtagResponse'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '412':
          $ref: '#/components/responses/preconditionFailedResponse'
        '422':
          $ref: '#/components/responses/unprocessableEntityResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /files/upload/init:
    x-filetype-restriction: true
    post:
      operationId: initBlockBasedFileUpload
      summary: Initialize a block based file upload job
      description: |
        This, along with the set of related APIs enables the upload of large files by splitting the content into multiple blocks,
        transferred over separate requests. This method is ideal for files larger than 10 MB, offering parallelism, resumability,
        and efficient error recovery.

        ---
        > NOTE:
        > For files 10 MB or larger, direct upload is not supported. Clients must use this block-based upload workflow.
        > block-based transfer is allowed for any size
        ---  

        ## Upload Flow Overview
        ### 1. Initiate Upload:
        Client sends a POST request to initiate the block upload and receives a response with URLs for uploading individual blocks
        and finalizing the transfer.

        ### 2. Upload Blocks:
        Client issues PUT requests to the provided Block Transfer URLs, sending file data in chunks. These can be uploaded in parallel.  

        ---
        > NOTE:
        > ####Uploading File Blocks 
        > After receiving `transferLinks`, clients can use them to upload individual blocks:
        > **PUT <transferURL>**
        > **<binary data>**  
        >
        > * **Authorization Header**: Must NOT be included in the request.
        > * **Success Response**: 200 OK indicates successful block upload.
        > * **Expiration Handling**: Each upload session is time-bound. If blocks are not uploaded within the specified expiration window
        > (urlExpirationDate field from the initiation response), the operation may fail.
        >   - **Always check and respect the urlExpirationDate timestamp** in the response from the Block Upload Init endpoint.
        ---

        ### 3. Finalize Upload:
        After all blocks are uploaded, the client calls the [Block Finalize URL](#/Files/finalizeBlockBasedFileUpload) to trigger the upload to the destination location.

        ### 4. Monitor:
        Finalize operation's response includes a Monitor URL to check the final status.

        # Initialize the Block-Based Upload
        This endpoint allows clients to initiate the creation of a new file using block-based transfer.

        ---
        > NOTE:
        > The expiration duration of transfer URLs is explicitly provided to the client in the response
        ---
      tags:
        - Files
      parameters:
        - $ref: '#/components/parameters/requestId'
      requestBody:
        $ref: '#/components/requestBodies/fileUploadInitRequest'
      responses:
        '200':
          $ref: '#/components/responses/fileUploadInitResponse'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          description: |
            **Unprocessable Request** - The request cannot be processed due to semantic errors
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                missingRequiredField:
                  $ref: '#/components/examples/missingRequiredField'
                invalidNameType:
                  $ref: '#/components/examples/invalidNameType'
                invalidNameValue:
                  $ref: '#/components/examples/invalidNameValue'
                ancestorNotFound:
                  $ref: '#/components/examples/ancestorNotFound'
                invalidDestination:
                  $ref: '#/components/examples/invalidDestination'
                invalidSize:
                  $ref: '#/components/examples/invalidSize'
                unsupportedMediaType:
                  $ref: '#/components/examples/unsupportedMediaType'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /files/upload/finalize:
    post:
      operationId: finalizeBlockBasedFileUpload
      summary: Finalize a block based file upload job
      description: |
        This endpoint finalizes the block upload process by initiating an asynchronous job that will merge all uploaded blocks and
        creates the final file asset. In case of asynchronous operation success, the asset field will contain the newly created file's
        metadata as defined by File Schema.

        ---
        > NOTE:
        > ### Validation and Behavior for Finalize (Block-Based Upload)
        > The following rules govern how the server interprets the finalization request for a block-based upload:
        > 
        > #### File Size in Initialization
        > * The size provided during the initiate request is treated as an estimate, not a strict validation boundary.
        > * Clients are not penalized if the actual uploaded content size differs from the declared size.
        > * In future, clients will be able to extend block sets if their initial estimate is too low (see Future Enhancements).

        > #### Skipped Blocks
        > * Clients are allowed to skip any block from the original transferLinks list, as long as part numbers remain ordered and
        > are accurately reported in the `usedTransferLinks` array during finalize.
        > * Skipped parts should simply be omitted from `usedTransferLinks`.

        > #### Finalization is based on:
        > * The used part numbers explicitly listed in the `usedTransferLinks` array.
        > * The server will stitch together content in the order of these part numbers.
        > * Any parts not listed will be ignored even if data was uploaded to them.
        ---
      tags:
        - Files
      parameters:
        - $ref: '#/components/parameters/requestId'
      requestBody:
        $ref: '#/components/requestBodies/fileUploadFinalizeRequest'
      responses:
        '202':
          $ref: '#/components/responses/fileUploadFinalizeResponse'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '409':
          $ref: '#/components/responses/invalidOperationResponse'
        '415':
          $ref: '#/components/responses/invalidContentTypeResponse'
        '422':
          description: |
            **Unprocessable Request** - The request cannot be processed due to semantic errors
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                missingRequiredField:
                  $ref: '#/components/examples/missingRequiredField'
                invalidFieldType:
                  $ref: '#/components/examples/invalidUploadIdType'
                invalidFieldValue:
                  $ref: '#/components/examples/invalidUsedTransferLinksValue'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /files/{assetId}/upload/init:
    post:
      operationId: initBlockBasedFileReplacement
      summary: Initialize a block based file replacement job
      description: |
        Initializes a block based replacement job for an existing file. The init response provides a set of pre-signed URLs
        for uploading individual blocks, transferred over separate requests. Once the replacement file content is uploaded,
        the finalize endpoint is called to finalize the replacement.

        The file's `assetId`, permissions, and metadata are preserved while the content is replaced.

        ---
        > NOTE:
        > For files 10 MB or larger, direct replacement is not supported. Clients must use this block-based replacement workflow.
        > block-based transfer is allowed for any size
        ---  

        ## Replacement Flow Overview
        ### 1. Initiate Replacement:
        Client sends a POST request to initiate the block replacement and receives a response with URLs for uploading individual blocks
        and finalizing the transfer.

        ### 2. Upload Blocks:
        Client issues PUT requests to the provided Block Transfer URLs, sending file data in chunks. These can be uploaded in parallel.  

        ---
        > NOTE:
        > ####Uploading File Blocks 
        > After receiving `transferLinks`, clients can use them to upload individual blocks:
        > **PUT <transferURL>**
        > **<binary data>**  
        >
        > * **Authorization Header**: Must NOT be included in the request.
        > * **Success Response**: 200 OK indicates successful block upload.
        > * **Expiration Handling**: Each upload session is time-bound. If blocks are not uploaded within the specified expiration window
        > (urlExpirationDate field from the initiation response), the operation may fail.
        >   - **Always check and respect the urlExpirationDate timestamp** in the response from the Block Upload Init endpoint.
        ---

        ### 3. Finalize Replacement:
        After all blocks are uploaded, the client calls the [Block Finalize URL](#/Files/finalizeBlockBasedFileReplacement) to trigger the replacement.

        ### 4. Monitor:
        Finalize operation's response includes a Monitor URL to check the final status.

        # Initialize the Block-Based Replacement
        This endpoint allows clients to initiate the replacement of an existing file's content using block-based transfer.

        ---
        > NOTE:
        > * The expiration duration of transfer URLs is explicitly provided to the client in the response
        > * The Content-Type must match the existing file's media type. Attempting to change the content type will result in a **415 Unsupported Media Type** error.
        ---
      tags:
        - Files
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      requestBody:
        $ref: '#/components/requestBodies/fileReplaceInitRequest'
      responses:
        '200':
          $ref: '#/components/responses/fileUploadInitResponse'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '415':
          $ref: '#/components/responses/contentTypeChangeNotAllowedResponse'
        '422':
          description: |
            **Unprocessable Request** - The request cannot be processed due to semantic errors
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                missingRequiredField:
                  $ref: '#/components/examples/missingRequiredField'
                invalidSize:
                  $ref: '#/components/examples/invalidSize'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /files/{assetId}/upload/finalize:
    post:
      operationId: finalizeBlockBasedFileReplacement
      summary: Finalize a block based file replacement job
      description: |
        This endpoint finalizes the block replacement process by initiating an asynchronous job that will merge all uploaded
        blocks and replace the existing file's content. The file's `assetId`, permissions, and metadata are preserved.

        ---
        > NOTE:
        > ### Validation and Behavior for Finalize (Block-Based Replacement)
        > The following rules govern how the server interprets the finalization request for a block-based replacement:
        > 
        > #### File Size in Initialization
        > * The size provided during the initiate request is treated as an estimate, not a strict validation boundary.
        > * Clients are not penalized if the actual uploaded content size differs from the declared size.
        > * In future, clients will be able to extend block sets if their initial estimate is too low (see Future Enhancements).

        > #### Skipped Blocks
        > * Clients are allowed to skip any block from the original transferLinks list, as long as part numbers remain ordered and
        > are accurately reported in the `usedTransferLinks` array during finalize.
        > * Skipped parts should simply be omitted from `usedTransferLinks`.

        > #### Finalization is based on:
        > * The used part numbers explicitly listed in the `usedTransferLinks` array.
        > * The server will stitch together content in the order of these part numbers.
        > * Any parts not listed will be ignored even if data was uploaded to them.
        ---
      tags:
        - Files
      parameters:
        - $ref: '#/components/parameters/assetId'
        - $ref: '#/components/parameters/requestId'
      requestBody:
        $ref: '#/components/requestBodies/fileUploadFinalizeRequest'
      responses:
        '202':
          $ref: '#/components/responses/fileUploadFinalizeResponse'
        '400':
          $ref: '#/components/responses/invalidRequestResponse'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '403':
          $ref: '#/components/responses/accessErrorResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '409':
          description: |
            **Conflict** - The requested operation is invalid based on the current state of the resource
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                expiredUpload:
                  $ref: '#/components/examples/expiredOrAlreadyUsed'
                alreadyFinalized:
                  $ref: '#/components/examples/expiredOrAlreadyUsed'
                invalidOperation:
                  $ref: '#/components/examples/invalidOperation'
        '415':
          $ref: '#/components/responses/contentTypeChangeNotAllowedResponse'
        '422':
          description: |
            **Unprocessable Request** - The request cannot be processed due to semantic errors
          headers:
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                missingRequiredField:
                  $ref: '#/components/examples/missingRequiredField'
                invalidFieldType:
                  $ref: '#/components/examples/invalidUploadIdType'
                invalidFieldValue:
                  $ref: '#/components/examples/invalidUsedTransferLinksValue'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
  /status/{jobId}:
    get:
      operationId: getJobStatus
      summary: Get the status of an asynchronous job
      description: |
        This endpoint retrieves the current status of an asynchronous job identified by its jobId.

        ---
        > NOTE:  
        > * The job must exist.
        > * If the job is not found, appropriate error responses will be returned.
        > * The job status is updated periodically, and the client should poll this endpoint to get the latest status, based on the retry-after header.
        ---
      tags:
        - Jobs
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/jobId'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: |
            **Success** - The status of the asynchronous job
          headers:
            retry-after:
              $ref: '#/components/headers/retryAfter'
            x-request-id:
              $ref: '#/components/headers/requestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobStatus'
        '401':
          $ref: '#/components/responses/unauthorizedResponse'
        '404':
          $ref: '#/components/responses/resourceNotFoundResponse'
        '406':
          $ref: '#/components/responses/notAcceptableResponse'
        '429':
          $ref: '#/components/responses/rateLimitResponse'
        '500':
          $ref: '#/components/responses/runtimeErrorResponse'
components:
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: IMS User Token or Service 2 Service (Technical Account). Required for all API endpoints. Must be a valid JWT token.
  schemas:
    errorCodeEnums:
      type: string
      title: ErrorCodeEnums
      description: |
        It describes the type of error through a human readable code.  

        ---
        > NOTE:  
        > This list is not exhaustive and will be updated as new error codes are added. Clients should expect new error codes to be added in the future.
        ---
      enum:
        - bad_request
        - unauthorized
        - access_error
        - resource_not_found
        - not_acceptable
        - invalid_operation
        - conflict
        - cursor_expired
        - precondition_failed
        - etag_mismatch
        - payload_too_large
        - invalid_content_type
        - validation_error
        - resource_too_large
        - rate_limited
        - runtime_error
        - not_implemented
        - operation_timeout
        - storage_quota_exceeded
    assetTypeEnums:
      type: string
      title: AssetType
      description: |
        Describes the type of asset.  

        ---
        > NOTE:  
        > This list is not exhaustive and will be updated as new asset types are added. Clients should expect new asset types to be added in the future.
        ---
      enum:
        - folder
        - file
        - project
        - library
        - cloudDoc
    jobTypeEnums:
      type: string
      title: JobTypeEnums
      description: |
        It describes the type of asynchronous job, depends on the original API invocation that created the job.  

        ---
        > NOTE:  
        > This list is not exhaustive and will be updated as new job types are added. Clients should expect new job types to be added in the future.
        ---
      enum:
        - file_upload
        - file_download
        - file_copy
        - file_move
        - folder_copy
        - folder_move
        - project_package
    jobStatusEnums:
      type: string
      title: JobStatusEnums
      description: |
        It describes the status of an asynchronous job.  

        ---
        > NOTE:  
        > This list is not exhaustive and will be updated as new job types are added. Clients should expect new job types to be added in the future.
        ---
      enum:
        - running
        - succeeded
        - failed
        - partially_succeeded
    requestId:
      type: string
      title: RequestId
      description: An identifier provided by the client to identify the request.
      example: '1234567890'
      minLength: 1
      maxLength: 128
    pagination:
      type: object
      title: Pagination
      description: Pagination information for collection responses
      properties:
        nextUrl:
          type: string
          description: URI to the next page of results
          format: uri
        limit:
          type: integer
          description: Maximum number of items per page
          format: int32
      required:
        - limit
      example:
        limit: 10
        nextUrl: https://api.example.com/assets?cursor=550e8400-e29b-41d4-a716-446655440000&limit=10
    assetId:
      type: string
      title: Asset Id
      minLength: 1
      description: A globally unique identifier for the asset
      example: urn:aaid:sc:US:4f2fc15c-c062-4951-b37b-1f65ed62a174
    date:
      type: string
      format: date-time
      example: '2021-01-01T00:00:00Z'
    principalId:
      type: string
      description: The Unique ID for the principal in the system
      example: 08D81E3B665BE5640A495C2C@AdobeOrg
    path:
      title: Path
      description: The path of the asset from the parent collection.
      type: string
      example: /My Project/My Folder/My Asset
    ancestors:
      type: array
      description: |
        Ordered list of ancestor asset IDs (first is immediate parent).
      items:
        $ref: '#/components/schemas/assetId'
      example:
        - urn:aaid:sc:US:4f2fc15c-c062-4951-b37b-1f65ed62a174
        - urn:aaid:sc:US:4f2fc15c-c062-4951-b37b-1f65ed62a175
        - urn:aaid:sc:US:4f2fc15c-c062-4951-b37b-1f65ed62a176
    baseAsset:
      type: object
      title: BaseAsset
      description: |
        Contains the common properties for all assets in the system.  

        ---
        > NOTE:  
        > It is not intended to be used directly
        ---
      required:
        - name
        - assetId
      properties:
        assetId:
          allOf:
            - $ref: '#/components/schemas/assetId'
          readOnly: true
        name:
          type: string
          description: Human-readable name of the asset
          example: My Asset
        createdDate:
          allOf:
            - $ref: '#/components/schemas/date'
          description: Timestamp when the asset was created
          readOnly: true
        modifiedDate:
          allOf:
            - $ref: '#/components/schemas/date'
          description: Timestamp of the most recent update
          readOnly: true
        createdBy:
          allOf:
            - $ref: '#/components/schemas/principalId'
          description: IMS user ID of the principal who created the asset
          readOnly: true
          example: 08D81E3B665BE5640A495C2C@AdobeOrg
        modifiedBy:
          allOf:
            - $ref: '#/components/schemas/principalId'
          description: IMS user ID of the principal who last modified the asset
          readOnly: true
          example: 08D81E3B665BE5640A495C2C@AdobeOrg
        path:
          allOf:
            - $ref: '#/components/schemas/path'
          readOnly: true
        ancestors:
          allOf:
            - $ref: '#/components/schemas/ancestors'
          readOnly: true
        state:
          type: string
          description: Current state of the asset
          enum:
            - active
            - deleted
            - deleted_parent
          default: active
    projectAsset:
      type: object
      title: ProjectAsset
      description: Represents a project in the system
      allOf:
        - $ref: '#/components/schemas/baseAsset'
        - type: object
          properties:
            assetType:
              type: string
              default: project
          required:
            - assetType
    paginatedProjects:
      title: PaginatedProjects
      description: Represents a paginated list of projects
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/pagination'
        items:
          type: array
          items:
            $ref: '#/components/schemas/projectAsset'
    errorResponse:
      type: object
      title: ErrorResponse
      description: |
        Describes an error that occurred while processing a request.
      required:
        - error_code
        - message
      properties:
        error_code:
          $ref: '#/components/schemas/errorCodeEnums'
          readOnly: true
        message:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          readOnly: true
      additionalProperties: true
    assetName:
      type: string
      description: |
        The name of the asset (including the extension, in case of a file)

        The name must not be a 
        * reserved Windows name
          - `CON`
          - `PRN`
          - `AUX`
          - `NUL`
          - `COM1` through `COM9`
          - `LPT1` through `LPT9`
        * contain any of the following characters: 
          - `\`
          - `/`
          - `:`
          - `*`
          - `?`
          - `"`
          - `|`
          - `>`
          - `<`
      maxLength: 255
      nullable: false
      pattern: ^(?!^([Cc][Oo][Nn]|[Pp][Rr][Nn]|[Aa][Uu][Xx]|[Nn][Uu][Ll]|[Cc][Oo][Mm][1-9]|[Ll][Pp][Tt][1-9])$)[^\\\/:*?"|><]+$
    autorename:
      type: boolean
      title: Autorename
      description: |
        Controls whether to automatically rename assets when name conflicts occur during
        create, rename, copy, move, or restore operations.

        - **false**: Operation fails with 409 Conflict if a name collision occurs (default)
        - **true**: System automatically renames the asset by appending a uniqueness token
          consisting of a non-breaking space(\u00A0) followed by a counter in round parentheses, e.g. "\u00A0(1)"
      default: false
      example: true
    operationOptions:
      type: object
      title: OperationOptions
      description: |
        Optional configuration for operation behavior. This object allow clients to customize how operations are executed.
      properties:
        autorename:
          $ref: '#/components/schemas/autorename'
    fileAsset:
      type: object
      title: FileAsset
      description: Represents a file in the system
      allOf:
        - $ref: '#/components/schemas/baseAsset'
        - type: object
          properties:
            assetType:
              type: string
              default: file
            mediaType:
              type: string
              description: The MIME type of the file
              example: image/jpeg
            size:
              type: integer
              description: Size of the file in bytes
              format: int64
              minimum: 0
              example: 1048576
          required:
            - assetType
            - mediaType
            - size
    folderAsset:
      type: object
      title: FolderAsset
      description: Represents a folder in the system
      allOf:
        - $ref: '#/components/schemas/baseAsset'
        - type: object
          properties:
            assetType:
              type: string
              default: folder
          required:
            - assetType
    asset:
      description: |
        Represents a generic asset in the system.
      required:
        - assetType
      oneOf:
        - $ref: '#/components/schemas/fileAsset'
        - $ref: '#/components/schemas/folderAsset'
        - $ref: '#/components/schemas/projectAsset'
      discriminator:
        propertyName: assetType
        mapping:
          file: '#/components/schemas/fileAsset'
          folder: '#/components/schemas/folderAsset'
          project: '#/components/schemas/projectAsset'
    paginatedAssets:
      title: PaginatedAssets
      description: Represents a paginated list of assets
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/pagination'
        children:
          type: array
          items:
            $ref: '#/components/schemas/asset'
    roleEnums:
      type: string
      title: RoleEnums
      description: |
        It describes the level of access granted for an asset to a subject.  
        Following roles are supported:
        - `edit` - The subject has edit access to the asset. It includes all permissions of the `comment` role
           as well as the ability to share the asset with other users.
        - `comment` - The subject has comment access to the asset. It includes the ability to view the asset
           and add comments to it.
        - `undefined` - In some cases, a permission that cannot be expressed by `edit` or `comment` is returned as `undefined`.
           The user has some underlying permission to the asset, but the access is not specific enough to be classified as `edit` or `comment`.
           User operations may be limited. 

        ---
        > NOTE:  
        > This list is not exhaustive and will be updated as roles are added. Clients should expect new roles to be added in the future.
        ---
      enum:
        - edit
        - comment
        - undefined
      example: edit
    commonPermissions:
      type: object
      title: CommonPermissions
      description: Common Permissions for the user on any kind of asset
      properties:
        can_share:
          type: boolean
          description: Whether the user can share the asset with other users
          default: false
        can_comment:
          type: boolean
          description: Whether the user can comment on the asset
          default: false
        can_download_assets:
          type: boolean
          description: Whether the user can download the asset
          default: false
      required:
        - can_share
        - can_comment
        - can_download_assets
    containerOnlyPermissions:
      type: object
      title: ContainerOnlyPermissions
      description: The permissions for the user applicable to container type of asset
      properties:
        can_move_assets_inside:
          type: boolean
          description: Whether the user can move assets inside the container
          default: false
        can_move_assets_outside:
          type: boolean
          description: Whether the user can move assets outside the container
          default: false
      required:
        - can_move_assets_inside
        - can_move_assets_outside
    projectPermissions:
      type: object
      title: ProjectPermissions
      description: The permissions for the user on a project
      allOf:
        - $ref: '#/components/schemas/commonPermissions'
        - $ref: '#/components/schemas/containerOnlyPermissions'
        - type: object
          properties:
            can_edit_project:
              type: boolean
              description: Whether the user can edit the project
              default: false
            can_view_project:
              type: boolean
              description: Whether the user can view the project
              default: false
            can_restore:
              type: boolean
              description: Whether the user can restore the project
              default: false
            can_delete:
              type: boolean
              description: Whether the user can soft delete the project
              default: false
            can_permanent_delete:
              type: boolean
              description: Whether the user can permanently delete the project
              default: false
          required:
            - can_edit_project
            - can_view_project
            - can_restore
            - can_delete
            - can_permanent_delete
    baseDirectRoleEntry:
      type: object
      title: BaseDirectRoleEntry
      properties:
        id:
          $ref: '#/components/schemas/principalId'
        name:
          type: string
          title: Name
          description: Display name of the principal.
        role:
          $ref: '#/components/schemas/roleEnums'
      required:
        - id
        - name
        - role
    userDirectRoleEntry:
      type: object
      title: UserDirectRoleEntry
      allOf:
        - $ref: '#/components/schemas/baseDirectRoleEntry'
        - type: object
          properties:
            type:
              type: string
              default: user
            email:
              type: string
              format: email
              description: Email of the user.
          required:
            - type
            - email
    groupDirectRoleEntry:
      type: object
      title: GroupDirectRoleEntry
      allOf:
        - $ref: '#/components/schemas/baseDirectRoleEntry'
        - type: object
          properties:
            type:
              type: string
              default: group
            organizationName:
              type: string
              description: Name of the organization.
          required:
            - type
            - organizationName
    predefinedGroupsDirectRoleEntry:
      type: object
      title: PredefinedGroupsDirectRoleEntry
      allOf:
        - $ref: '#/components/schemas/baseDirectRoleEntry'
        - type: object
          properties:
            type:
              type: string
              default: predefined
            organizationName:
              type: string
              description: Name of the organization.
          required:
            - type
            - organizationName
    directRoleEntry:
      type: object
[...]
