{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Firefly Services Audio and Video API",
    "description": "This RESTful API provides resources to use Firefly Services AI for audio and video generation and processing.",
    "termsOfService": "https://www.adobe.com/content/dam/cc/en/legal/terms/enterprise/pdfs/PSLT-AdobeCreativeAPI-WW-2024v2.pdf"
  },
  "tags": [
    {
      "name": "Dynamic Graphics Render",
      "description": "Endpoints for Dynamic Graphics Render (DGR): template describe, presets, render, and job status."
    },
    {
      "name": "Reframe",
      "description": "Endpoints for video reframing."
    },
    {
      "name": "Translate and lip sync",
      "description": "Endpoints for transcribing and dubbing audio/video content."
    },
    {
      "name": "Text-to-speech",
      "description": "Endpoints for text-to-speech operations."
    },
    {
      "name": "Text-to-Avatar",
      "description": "Endpoints for Text-to-Avatar operations."
    },
    {
      "name": "Manage jobs",
      "description": "Endpoints for managing asynchronous jobs."
    }
  ],
  "servers": [
    {
      "url": "https://audio-video-api.adobe.io",
      "description": "Production server."
    }
  ],
  "security": [
    {
      "AccessToken": [],
      "X-Api-Key": []
    }
  ],
  "paths": {
    "/v1/voices": {
      "get": {
        "tags": ["Text-to-speech", "Text-to-Avatar"],
        "summary": "Get available voices",
        "description": "This endpoint provides the list of all available voices for the user's enterprise.",
        "operationId": "voices",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessfulVoicesResponse"
                },
                "examples": {
                  "Success": {
                    "$ref": "#/components/examples/SuccessfulVoicesResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  },
                  "ErrorBodyAPIKeyInvalid": {
                    "$ref": "#/components/examples/ErrorBodyAPIKeyInvalid"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "RunTimeError": {
                    "$ref": "#/components/examples/RunTimeError"
                  },
                  "StudioAPIFailedEntitiesErrorResponse": {
                    "$ref": "#/components/examples/StudioAPIFailedEntitiesErrorResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/generate-speech": {
      "post": {
        "tags": ["Text-to-speech"],
        "summary": "Generate speech from text",
        "description": "This endpoint generates speech from a transcript. You can provide the transcript either as plain text or a pre-signed URL. The response will include a job ID and a status URL for tracking the job.",
        "operationId": "generate-speech",
        "requestBody": {
          "description": "The request body contains the transcript used for generating speech.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TTSRequest"
              },
              "examples": {
                "TextInputForSpeechGeneration": {
                  "$ref": "#/components/examples/TextInputForSpeechGeneration"
                },
                "URLInputForSpeechGeneration": {
                  "$ref": "#/components/examples/URLInputForSpeechGeneration"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitAPIResponse"
                },
                "examples": {
                  "SubmitRequestResponse": {
                    "$ref": "#/components/examples/SubmitRequestResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "BadRequestError": {
                    "$ref": "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "UnauthorizedAccessError": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  },
                  "ErrorBodyAccessDenied": {
                    "$ref": "#/components/examples/ErrorBodyAccessDenied"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  },
                  "ErrorBodyAPIKeyInvalid": {
                    "$ref": "#/components/examples/ErrorBodyAPIKeyInvalid"
                  },
                  "UserNotEntitledError": {
                    "$ref": "#/components/examples/UserNotEntitledError"
                  },
                  "QuotaExceededError": {
                    "$ref": "#/components/examples/QuotaExceededError"
                  },
                  "UserProfileDeniedError": {
                    "$ref": "#/components/examples/UserProfileDeniedError"
                  },
                  "UserBlockedError": {
                    "$ref": "#/components/examples/UserBlockedError"
                  },
                  "InvalidSubscriptionError": {
                    "$ref": "#/components/examples/InvalidSubscriptionError"
                  },
                  "ViolationError": {
                    "$ref": "#/components/examples/ViolationError"
                  },
                  "TasteExhaustedError": {
                    "$ref": "#/components/examples/TasteExhaustedError"
                  },
                  "AccessError": {
                    "$ref": "#/components/examples/AccessError"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "InvalidInputErrorExample": {
                    "$ref": "#/components/examples/InvalidInputErrorExample"
                  },
                  "MissingInputFileUrlErrorExample": {
                    "$ref": "#/components/examples/MissingInputFileUrlErrorExample"
                  },
                  "InvalidInputUrlErrorExample": {
                    "$ref": "#/components/examples/InvalidInputUrlErrorExample"
                  },
                  "InputFileFormatValidationErrorExample": {
                    "$ref": "#/components/examples/InputFileFormatValidationErrorExample"
                  },
                  "MissingScriptErrorExample": {
                    "$ref": "#/components/examples/MissingScriptErrorExample"
                  },
                  "EmptyTextForScriptErrorExample": {
                    "$ref": "#/components/examples/EmptyTextForScriptErrorExample"
                  },
                  "TextLengthExceededForScriptErrorExample": {
                    "$ref": "#/components/examples/TextLengthExceededForScriptErrorExample"
                  },
                  "TextLengthTooShortForScriptErrorExample": {
                    "$ref": "#/components/examples/TextLengthTooShortForScriptErrorExample"
                  },
                  "ScriptInvalidASCIIRange": {
                    "$ref": "#/components/examples/ScriptInvalidASCIIRange"
                  },
                  "ScriptInvalidTextSupportedRange": {
                    "$ref": "#/components/examples/ScriptInvalidTextSupportedRange"
                  },
                  "InvalidOrMissingLocaleCodeForScriptErrorExample": {
                    "$ref": "#/components/examples/InvalidOrMissingLocaleCodeForScriptErrorExample"
                  },
                  "MissingMediaTypeForScriptErrorExample": {
                    "$ref": "#/components/examples/MissingMediaTypeForScriptErrorExample"
                  },
                  "MediatypeIncompatibleForText": {
                    "$ref": "#/components/examples/MediatypeIncompatibleForText"
                  },
                  "MissingSourceLocaleErrorExample": {
                    "$ref": "#/components/examples/MissingSourceLocaleErrorExample"
                  },
                  "SourceUrlSourceTextConflictErrorExample": {
                    "$ref": "#/components/examples/SourceUrlSourceTextConflictErrorExample"
                  },
                  "UnsupportedVoiceIdErrorExample": {
                    "$ref": "#/components/examples/UnsupportedVoiceIdErrorExample"
                  },
                  "MissingVoiceIdErrorExample": {
                    "$ref": "#/components/examples/MissingVoiceIdErrorExample"
                  },
                  "MissingOutputErrorExample": {
                    "$ref": "#/components/examples/MissingOutputErrorExample"
                  },
                  "MissingMediaTypeForOutputErrorExample": {
                    "$ref": "#/components/examples/MissingMediaTypeForOutputErrorExample"
                  },
                  "InvalidOutputFileFormatErrorExample": {
                    "$ref": "#/components/examples/InvalidOutputFileFormatErrorExample"
                  },
                  "InvalidRequestPayloadErrorExample": {
                    "$ref": "#/components/examples/InvalidRequestPayloadErrorExample"
                  },
                  "InvalidSourceUrlErrorExample": {
                    "$ref": "#/components/examples/InvalidSourceUrlErrorExample"
                  },
                  "IncorrectVoiceNameErrorExample": {
                    "$ref": "#/components/examples/IncorrectVoiceNameErrorExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  },
                  "ErrorBodyRateLimited": {
                    "$ref": "#/components/examples/ErrorBodyRateLimited"
                  }
                }
              }
            }
          },
          "451": {
            "description": "Unauthorized For Legal Reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyLegalReasons": {
                    "$ref": "#/components/examples/ErrorBodyLegalReasons"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "TTSServiceSubmitError": {
                    "$ref": "#/components/examples/TTSServiceSubmitError"
                  },
                  "TTSEntityCreationError": {
                    "$ref": "#/components/examples/TTSEntityCreationError"
                  },
                  "TTSRuntimeError": {
                    "$ref": "#/components/examples/TTSRuntimeError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/status/{jobId}": {
      "get": {
        "tags": ["Manage jobs"],
        "summary": "Get job status",
        "description": "Provides the status and result of an asynchronous job. For Dynamic Graphics Render (DGR), returns the status of a Describe template or Render job.",
        "operationId": "status",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The job ID of an asynchronous job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAPIResponse"
                },
                "examples": {
                  "StatusAPIInprogressRequestResponse": {
                    "$ref": "#/components/examples/StatusApiInProgressRequestResponse"
                  },
                  "StatusAPISuccessRequestResponse": {
                    "$ref": "#/components/examples/StatusApiSuccessRequestResponse"
                  },
                  "StatusAPIFailedInputFileDownloadResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedInputFileDownloadResponse"
                  },
                  "DGRJobStatusNotStarted": {
                    "$ref": "#/components/examples/DGRJobStatusNotStarted"
                  },
                  "DGRJobStatusRunning": {
                    "$ref": "#/components/examples/DGRJobStatusRunning"
                  },
                  "DGRDescribeSuccess": {
                    "$ref": "#/components/examples/DGRDescribeSuccess"
                  },
                  "DGRRenderSuccessSingle": {
                    "$ref": "#/components/examples/DGRRenderSuccessSingle"
                  },
                  "DGRRenderSuccessMultiple": {
                    "$ref": "#/components/examples/DGRRenderSuccessMultiple"
                  },
                  "DGRRenderPartialSuccess": {
                    "$ref": "#/components/examples/DGRRenderPartialSuccess"
                  },
                  "DGRRenderSuccessTwoVariations": {
                    "$ref": "#/components/examples/DGRRenderSuccessTwoVariations"
                  },
                  "DGRJobFailed": {
                    "$ref": "#/components/examples/DGRJobFailed"
                  },
                  "StatusAPIFailedMediatypeMismatchResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedMediatypeMismatchResponse"
                  },
                  "StatusAPIFailedCAISigningResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedCAISigningResponse"
                  },
                  "StatusAPIFailedUploadErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedUploadErrorResponse"
                  },
                  "StatusAPIFailedDownloadErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedDownloadErrorResponse"
                  },
                  "StatusAPIFailedTTSErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedTTSErrorResponse"
                  },
                  "StatusAPIFailedDurationTooLongResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedDurationTooLongResponse"
                  },
                  "StatusAPIFailedUnsupportedBackgroundResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedUnsupportedBackgroundResponse"
                  },
                  "StatusAPIFailedBackgroundResolutionErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedBackgroundResolutionErrorResponse"
                  },
                  "StatusAPIFailedCropAreaErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedCropAreaErrorResponse"
                  },
                  "StatusAPIFailedBackgroundCropErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedBackgroundCropErrorResponse"
                  },
                  "StatusAPIFailedFFMpegErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedFFMpegErrorResponse"
                  },
                  "StatusAPIFailedAvatarErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedAvatarErrorResponse"
                  },
                  "StatusAPIFailedLipsyncErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedLipsyncErrorResponse"
                  },
                  "StatusAPIFailedLipsyncPollingErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedLipsyncPollingErrorResponse"
                  },
                  "StatusAPIFailedMediaTrimErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedMediaTrimErrorResponse"
                  },
                  "StatusAPIFailedMediaTrimAlphaErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedMediaTrimAlphaErrorResponse"
                  },
                  "StatusAPIFailedInternalErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedInternalErrorResponse"
                  },
                  "StatusAPIFailedTTSInternalErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedTTSInternalErrorResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  },
                  "ErrorBodyAPIKeyInvalid": {
                    "$ref": "#/components/examples/ErrorBodyAPIKeyInvalid"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyResourceNotFound": {
                    "$ref": "#/components/examples/ErrorBodyResourceNotFound"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "RunTimeError": {
                    "$ref": "#/components/examples/RunTimeError"
                  },
                  "TEXT_TO_SPEECH_ENTITY_CREATION_ERROR": {
                    "$ref": "#/components/examples/TEXT_TO_SPEECH_ENTITY_CREATION_ERROR"
                  },
                  "TEXT_TO_SPEECH_SERVICE_SUBMIT_ERROR": {
                    "$ref": "#/components/examples/TEXT_TO_SPEECH_SERVICE_SUBMIT_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/describe": {
      "post": {
        "tags": ["Dynamic Graphics Render"],
        "summary": "Describe template",
        "description": "Analyzes a MOGRT (video template) file and returns a manifest of editable controls; fonts, images, audio, video and other supported values.",
        "operationId": "template-describe",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateDescribeRequest"
              },
              "examples": {
                "SampleExample": {
                  "summary": "Sample example",
                  "value": {
                    "source": {
                      "url": "<pre-signed_URL_to_download_the_template>"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDescribeResponse"
                },
                "examples": {
                  "SuccessResponse": {
                    "value": {
                      "jobId": "<job_ID>",
                      "statusUrl": "https://audio-video-api.adobe.io/v1/status/<job_ID>"
                    }
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "URL to monitor the status of the job."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidJsonError": {
                    "value": {
                      "error_code": "invalid_json",
                      "message": "Invalid request. Please check the input data."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidToken": {
                    "value": {
                      "error_code": "401013",
                      "message": "OAuth token is not valid."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidContext": {
                    "value": {
                      "error_code": "access_error",
                      "message": "Token not allowed in the current context."
                    }
                  },
                  "ApiKeyIsRequired": {
                    "value": {
                      "error_code": "403000",
                      "message": "API key is required."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ValidationError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Validation error occurred",
                      "messageId": "42206000"
                    }
                  },
                  "InvalidTemplateTypeError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Input must contain a valid template type",
                      "messageId": "42206001"
                    }
                  },
                  "InvalidTemplateSourceError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid template source",
                      "messageId": "42206002"
                    }
                  },
                  "InvalidTemplateSourceUrlError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid template source URL",
                      "messageId": "42206003"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ServerError": {
                    "value": {
                      "messageId": "50006000",
                      "message": "Internal Server Error",
                      "error_code": "runtime_error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/presets": {
      "get": {
        "tags": ["Dynamic Graphics Render"],
        "summary": "Fetch video rendering presets",
        "description": "Returns a list of predefined social-first encoding presets for rendering outputs.",
        "operationId": "get-presets",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresetsResponse"
                },
                "examples": {
                  "PresetsExample": {
                    "$ref": "#/components/examples/PresetsResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error_code": "401013",
                      "message": "OAuth token is not valid."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "value": {
                      "error_code": "403000",
                      "message": "API key is required."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/render": {
      "post": {
        "tags": ["Dynamic Graphics Render"],
        "summary": "Render template",
        "description": "Renders one or more video variations by applying overrides and export presets. Submit up to 10 overrides per call for a subset of editable layers and get a pre-signed URL link to download the video file. For layers that are not editable, the system defaults are automatically applied at export.",
        "operationId": "template-render",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateRenderRequest"
              },
              "examples": {
                "RenderExample": {
                  "summary": "Sample render request",
                  "value": {
                    "source": {
                      "url": "<pre-signed mogrt url>"
                    },
                    "fonts": [
                      {
                        "name": "<Font postscript name>",
                        "source": {
                          "url": "<pre-signed url for font .ttf/otf>"
                        }
                      }
                    ],
                    "config": {
                      "handleMissingFonts": "use_default"
                    },
                    "assets": [
                      {
                        "source": {
                          "url": "<pre-signed url for image or video asset>"
                        }
                      },
                      {
                        "source": {
                          "url": "<pre-signed url for audio asset>"
                        }
                      }
                    ],
                    "presets": [
                      {
                        "source": {
                          "presetId": "ffs_video_api_vert_1920p_hq"
                        }
                      },
                      {
                        "source": {
                          "url": "<pre-signed url for Encoder preset file>"
                        }
                      }
                    ],
                    "variations": [
                      {
                        "variables": [
                          {
                            "variableId": "<unique template variable id>",
                            "selectedCheckboxValue": true
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "assetIndex": 0,
                            "scale": "no_scale"
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "selectedDropdownValue": "0"
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "text": "First Name",
                            "fontName": "font_name_1"
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "selectedSliderValue": -18
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "assetIndex": 1,
                            "audioPreference": "replace"
                          }
                        ]
                      },
                      {
                        "variables": [
                          {
                            "variableId": "<unique template variable id>",
                            "selectedCheckboxValue": true
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "assetIndex": 0,
                            "scale": "fit_to_frame"
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "selectedDropdownValue": "0"
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "text": "First Name",
                            "fontName": "font_name_1"
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "selectedSliderValue": -18
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "assetIndex": 1,
                            "audioPreference": "mix"
                          }
                        ]
                      }
                    ],
                    "outputs": [
                      {
                        "variationIndex": 0,
                        "presetIndex": 0,
                        "fileName": "some_custom_file_name"
                      },
                      {
                        "variationIndex": 1,
                        "presetIndex": 0,
                        "fileName": "output_vert_1920p_hq"
                      },
                      {
                        "variationIndex": 1,
                        "presetIndex": 1,
                        "fileName": "my_custom_file_name"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateRenderResponse"
                },
                "examples": {
                  "SuccessResponse": {
                    "value": {
                      "jobId": "<job_ID>",
                      "statusUrl": "https://audio-video-api.adobe.io/v1/status/<job_ID>"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidJsonError": {
                    "value": {
                      "error_code": "invalid_json",
                      "message": "Invalid request. Please check the input data."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidToken": {
                    "value": {
                      "error_code": "401013",
                      "message": "OAuth token is not valid."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidContext": {
                    "value": {
                      "error_code": "access_error",
                      "message": "Token not allowed in the current context."
                    }
                  },
                  "ApiKeyIsRequired": {
                    "value": {
                      "error_code": "403000",
                      "message": "API key is required."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidTemplateTypeError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Input must contain a valid template type",
                      "messageId": "42205000"
                    }
                  },
                  "InvalidTemplateSourceUrlError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid template source URL",
                      "messageId": "42205001"
                    }
                  },
                  "InvalidPresetIdError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "{presetId} export preset does not exist",
                      "messageId": "42205002"
                    }
                  },
                  "InvalidFontDetailsError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid font details in variation {variationIndex} control {controlIndex}",
                      "messageId": "42205003"
                    }
                  },
                  "InvalidMediaDetailsError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid media details in variation {variationIndex} control {controlIndex}",
                      "messageId": "42205004"
                    }
                  },
                  "InvalidScaleTypeError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid scale type in variation {variationIndex} control {controlIndex}",
                      "messageId": "42205005"
                    }
                  },
                  "InvalidControlTypeError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid control type in variation {variationIndex} control {controlIndex}",
                      "messageId": "42205006"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InternalServerError": {
                    "value": {
                      "error_code": "runtime_error",
                      "message": "Internal Server Error",
                      "messageId": "50005001"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reframe": {
      "post": {
        "tags": ["Reframe"],
        "summary": "Reframe video",
        "description": "This endpoint enables you to reframe video using AI. Provide video input with a pre-signed URL to generate reframed video output. \n\nThis API has more limited capabilities than the v2 endpoint, and may be deprecated soon. **It's recommended to use the v2 endpoint instead.**",
        "operationId": "generate-reframed-video",
        "requestBody": {
          "description": "The reframe request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "video": {
                    "type": "object",
                    "properties": {
                      "source": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "The pre-signed URL pointing to the input source."
                          }
                        },
                        "required": ["url"],
                        "description": "Details of the source including a pre-signed URL. See the [list of allowed domains for storage](https://developer.adobe.com/audio-video-firefly-services/getting-started/storage-solutions/)."
                      },
                      "mediaType": {
                        "type": "string",
                        "enum": ["video/mp4", "video/quicktime"],
                        "description": "Supported video media types."
                      }
                    },
                    "required": ["source", "mediaType"],
                    "description": "Video input details."
                  },
                  "sceneEditDetection": {
                    "type": "boolean",
                    "description": "Apply Scene Edit Detection before reframing.",
                    "default": true
                  },
                  "overlays": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Overlay"
                    },
                    "description": "Configuration details for video overlays."
                  },
                  "outputConfig": {
                    "type": "object",
                    "properties": {
                      "aspectRatios": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "numerator:denominator"
                        },
                        "description": "A list of aspect ratios for the output video."
                      }
                    },
                    "required": ["aspectRatios"],
                    "description": "Configuration details for the generated reframed video."
                  }
                },
                "required": ["video", "outputConfig"],
                "type": "object"
              },
              "examples": {
                "ReframedVideoInputRequestPayload": {
                  "summary": "Video input to generate Reframed video output",
                  "value": {
                    "video": {
                      "source": {
                        "url": "<pre-signed URL for downloading the video input>"
                      },
                      "mediaType": "video/mp4"
                    },
                    "sceneEditDetection": true,
                    "overlays": [
                      {
                        "mediaType": "image/gif",
                        "source": {
                          "url": "<pre-signed URL for downloading the overlay input>"
                        },
                        "startTime": "00:00:05:00",
                        "duration": "00:00:05:00",
                        "scale": {
                          "width": 500,
                          "height": 500
                        },
                        "position": {
                          "anchorPoint": "top_left",
                          "offsetX": 500,
                          "offsetY": 500
                        },
                        "repeat": "loop"
                      }
                    ],
                    "outputConfig": {
                      "aspectRatios": ["1:1", "9:16", "4:5"]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response indicating that the reframed video job has been successfully submitted.",
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "description": "The unique identifier for the job."
                    },
                    "statusUrl": {
                      "type": "string",
                      "description": "The URL to monitor the status of the job."
                    }
                  },
                  "required": ["jobId", "statusUrl"],
                  "type": "object"
                },
                "examples": {
                  "GenerateReframedVideoResponse": {
                    "summary": "Response for successful job submission",
                    "value": {
                      "jobId": "<jobId>",
                      "statusUrl": "https://<baseUrl>/v1/status/<jobId>"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyBadRequest": {
                    "$ref": "#/components/examples/ErrorBodyBadRequest"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyResourceNotFound": {
                    "$ref": "#/components/examples/ErrorBodyResourceNotFound"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "$ref": "#/components/examples/ErrorBodyMethodNotAllowed"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyInternalServerError": {
                    "$ref": "#/components/examples/ErrorBodyInternalServerError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/transcribe": {
      "post": {
        "tags": ["Translate and lip sync"],
        "summary": "Transcribe media",
        "description": "Generates transcripts and captions for the input audio or video in the source language or in a target language.",
        "operationId": "transcribe",
        "requestBody": {
          "description": "The transcribe request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeRequest"
              },
              "examples": {
                "AudioInputToGenerateTranscriptFromSourceAudio": {
                  "$ref": "#/components/examples/AudioInputToGenerateTranscriptFromSourceAudio"
                },
                "VideoInputToGenerateTranscriptFromSourceVideo": {
                  "$ref": "#/components/examples/VideoInputToGenerateTranscriptFromSourceVideo"
                },
                "AudioInputToGenerateTranscriptFromTargetLanguageAudio": {
                  "$ref": "#/components/examples/AudioInputToGenerateTranscriptFromTargetLanguageAudio"
                },
                "VideoInputToGenerateTranscriptFromTargetLanguageVideo": {
                  "$ref": "#/components/examples/VideoInputToGenerateTranscriptFromTargetLanguageVideo"
                },
                "AudioInputToGenerateTranscriptAndCaptionsFromTargetFormatsFromSourceAudio": {
                  "$ref": "#/components/examples/AudioInputToGenerateTranscriptAndCaptionsFromTargetFormatsFromSourceAudio"
                },
                "VideoInputToGenerateTranscriptAndCaptionsFromTargetFormatsFromSourceVideo": {
                  "$ref": "#/components/examples/VideoInputToGenerateTranscriptAndCaptionsFromTargetFormatsFromSourceVideo"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                },
                "examples": {
                  "TranscribeResponse": {
                    "$ref": "#/components/examples/JobStatusLinkResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyBadRequest": {
                    "$ref": "#/components/examples/ErrorBodyBadRequest"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyResourceNotFound": {
                    "$ref": "#/components/examples/ErrorBodyResourceNotFound"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "$ref": "#/components/examples/ErrorBodyMethodNotAllowed"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "$ref": "#/components/examples/ErrorBodyMethodNotAllowed"
                  },
                  "ValidationErrorVideoSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorVideoSourceBlank"
                  },
                  "ValidationErrorAudioSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorAudioSourceBlank"
                  },
                  "ValidationErrorInputSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorInputSourceBlank"
                  },
                  "ValidationErrorVideoAndAudioSimultaneous": {
                    "$ref": "#/components/examples/ValidationErrorVideoAndAudioSimultaneous"
                  },
                  "ValidationErrorVideoInputMediaTypeMissing": {
                    "$ref": "#/components/examples/ValidationErrorVideoInputMediaTypeMissing"
                  },
                  "ValidationErrorAudioInputMediaTypeMissing": {
                    "$ref": "#/components/examples/ValidationErrorAudioInputMediaTypeMissing"
                  },
                  "ValidationErrorSourceUrlEmpty": {
                    "$ref": "#/components/examples/ValidationErrorSourceUrlEmpty"
                  },
                  "ValidationErrorInvalidVideoAudioSourceUrl": {
                    "$ref": "#/components/examples/ValidationErrorInvalidVideoAudioSourceUrl"
                  },
                  "ValidationErrorBlankTranscriptSourceField": {
                    "$ref": "#/components/examples/ValidationErrorBlankTranscriptSourceField"
                  },
                  "ValidationErrorInvalidTranscriptUrl": {
                    "$ref": "#/components/examples/ValidationErrorInvalidTranscriptUrl"
                  },
                  "ValidationErrorUnsupportedVideoMediaType": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedVideoMediaType"
                  },
                  "ValidationErrorUnsupportedAudioMediaType": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedAudioMediaType"
                  },
                  "ValidationErrorUnsupportedTargetLocaleCode": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedTargetLocaleCode"
                  },
                  "ValidationErrorBlankTargetLocaleCode": {
                    "$ref": "#/components/examples/ValidationErrorBlankTargetLocaleCode"
                  },
                  "ValidationErrorMissingTargetLocaleCode": {
                    "$ref": "#/components/examples/ValidationErrorMissingTargetLocaleCode"
                  },
                  "ValidationErrorLocaleCodeNotRequiredForEditedTranscript": {
                    "$ref": "#/components/examples/ValidationErrorLocaleCodeNotRequiredForEditedTranscript"
                  },
                  "ValidationErrorEitherTargetLocaleCodesOrTranscriptionRequired": {
                    "$ref": "#/components/examples/ValidationErrorEitherTargetLocaleCodesOrTranscriptionRequired"
                  },
                  "ValidationErrorCaptionGenerationNotSupportedWithTranslation": {
                    "$ref": "#/components/examples/ValidationErrorCaptionGenerationNotSupportedWithTranslation"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "451": {
            "description": "Unauthorized For Legal Reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyLegalReasons": {
                    "$ref": "#/components/examples/ErrorBodyLegalReasons"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyInternalServerError": {
                    "$ref": "#/components/examples/ErrorBodyInternalServerError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dub": {
      "post": {
        "tags": ["Translate and lip sync"],
        "summary": "Dub audio or video",
        "description": "Generate dubbed video or audio. A composited lip sync can also be added for video dubbing.",
        "operationId": "dub",
        "requestBody": {
          "description": "The dub request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DubRequest"
              },
              "examples": {
                "DubRequestUsingAutoTranslatedTranscripts": {
                  "$ref": "#/components/examples/DubRequestUsingAutoTranslatedTranscripts"
                },
                "DubRequestUsingAudioAutoTranslatedTranscripts": {
                  "$ref": "#/components/examples/DubRequestUsingAudioAutoTranslatedTranscripts"
                },
                "DubRequestUsingEditedSourceTranscript": {
                  "$ref": "#/components/examples/DubRequestUsingEditedSourceTranscript"
                },
                "DubRequestUsingAudioEditedSourceTranscript": {
                  "$ref": "#/components/examples/DubRequestUsingAudioEditedSourceTranscript"
                },
                "DubRequestUsingEditedTranslatedTranscript": {
                  "$ref": "#/components/examples/DubRequestUsingEditedTranslatedTranscript"
                },
                "DubRequestUsingAudioEditedTranslatedTranscript": {
                  "$ref": "#/components/examples/DubRequestUsingAudioEditedTranslatedTranscript"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                },
                "examples": {
                  "DubResponse": {
                    "$ref": "#/components/examples/JobStatusLinkResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyBadRequest": {
                    "$ref": "#/components/examples/ErrorBodyBadRequest"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyResourceNotFound": {
                    "$ref": "#/components/examples/ErrorBodyResourceNotFound"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "$ref": "#/components/examples/ErrorBodyMethodNotAllowed"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "$ref": "#/components/examples/ErrorBodyMethodNotAllowed"
                  },
                  "ValidationErrorVideoSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorVideoSourceBlank"
                  },
                  "ValidationErrorAudioSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorAudioSourceBlank"
                  },
                  "ValidationErrorInputSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorInputSourceBlank"
                  },
                  "ValidationErrorVideoAndAudioSimultaneous": {
                    "$ref": "#/components/examples/ValidationErrorVideoAndAudioSimultaneous"
                  },
                  "ValidationErrorVideoInputMediaTypeMissing": {
                    "$ref": "#/components/examples/ValidationErrorVideoInputMediaTypeMissing"
                  },
                  "ValidationErrorAudioInputMediaTypeMissing": {
                    "$ref": "#/components/examples/ValidationErrorAudioInputMediaTypeMissing"
                  },
                  "ValidationErrorSourceUrlEmpty": {
                    "$ref": "#/components/examples/ValidationErrorSourceUrlEmpty"
                  },
                  "ValidationErrorInvalidVideoAudioSourceUrl": {
                    "$ref": "#/components/examples/ValidationErrorInvalidVideoAudioSourceUrl"
                  },
                  "ValidationErrorInvalidTranscriptUrl": {
                    "$ref": "#/components/examples/ValidationErrorInvalidTranscriptUrl"
                  },
                  "ValidationErrorUnsupportedVideoMediaType": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedVideoMediaType"
                  },
                  "ValidationErrorUnsupportedAudioMediaType": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedAudioMediaType"
                  },
                  "ValidationErrorUnsupportedTargetLocaleCode": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedTargetLocaleCode"
                  },
                  "ValidationErrorMissingTargetLocaleCode": {
                    "$ref": "#/components/examples/ValidationErrorMissingTargetLocaleCode"
                  },
                  "ValidationErrorLocaleCodeNotRequiredForEditedTranscript": {
                    "$ref": "#/components/examples/ValidationErrorLocaleCodeNotRequiredForEditedTranscript"
                  },
                  "ValidationErrorEitherTargetLocaleCodesOrTranscriptionRequired": {
                    "$ref": "#/components/examples/ValidationErrorEitherTargetLocaleCodesOrTranscriptionRequired"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "451": {
            "description": "Unauthorized For Legal Reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyLegalReasons": {
                    "$ref": "#/components/examples/ErrorBodyLegalReasons"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyInternalServerError": {
                    "$ref": "#/components/examples/ErrorBodyInternalServerError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/avatars": {
      "get": {
        "tags": ["Text-to-Avatar"],
        "summary": "Get available avatars",
        "description": "Retrieves the list of all available avatars for the user's enterprise.",
        "operationId": "avatars",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessfulAvatarsResponse"
                },
                "examples": {
                  "Success": {
                    "$ref": "#/components/examples/SuccessfulAvatarsResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  },
                  "ErrorBodyAPIKeyInvalid": {
                    "$ref": "#/components/examples/ErrorBodyAPIKeyInvalid"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "RunTimeError": {
                    "$ref": "#/components/examples/RunTimeError"
                  },
                  "StudioAPIFailedEntitiesErrorResponse": {
                    "$ref": "#/components/examples/StudioAPIFailedEntitiesErrorResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/reframe": {
      "post": {
        "tags": ["Reframe"],
        "summary": "Reframe video v2",
        "description": "This endpoint enables you to reframe the input media. You can provide a video input via a pre-signed URL to generate reframed output video.",
        "operationId": "generate-reframed-video-v2",
        "requestBody": {
          "description": "Generate reframed video request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "video": {
                    "$ref": "#/components/schemas/VideoInputV2"
                  },
                  "analysis": {
                    "$ref": "#/components/schemas/AnalysisV2"
                  },
                  "composition": {
                    "$ref": "#/components/schemas/CompositionV2"
                  },
                  "output": {
                    "type": "object",
                    "properties": {
                      "format": {
                        "$ref": "#/components/schemas/OutputFormatV2"
                      },
                      "renditions": {
                        "type": "array",
                        "uniqueItems": true,
                        "description": "Array of output rendition specifications.",
                        "items": {
                          "oneOf": [
                            {
                              "title": "Aspect Ratio Rendition",
                              "type": "object",
                              "properties": {
                                "aspectRatio": {
                                  "$ref": "#/components/schemas/AspectRatioV2"
                                },
                                "mediaDestination": {
                                  "$ref": "#/components/schemas/Destination"
                                },
                                "sidecarDestination": {
                                  "$ref": "#/components/schemas/Destination"
                                }
                              },
                              "required": ["aspectRatio"]
                            },
                            {
                              "title": "Resolution Rendition",
                              "type": "object",
                              "properties": {
                                "resolution": {
                                  "type": "object",
                                  "properties": {
                                    "width": {
                                      "type": "integer",
                                      "description": "Resolution width of the output in pixels."
                                    },
                                    "height": {
                                      "type": "integer",
                                      "description": "Resolution height of the output in pixels."
                                    }
                                  },
                                  "required": ["width", "height"]
                                },
                                "mediaDestination": {
                                  "$ref": "#/components/schemas/Destination"
                                },
                                "sidecarDestination": {
                                  "$ref": "#/components/schemas/Destination"
                                }
                              },
                              "required": ["resolution"]
                            }
                          ]
                        }
                      }
                    },
                    "required": ["renditions"],
                    "description": "Output configuration details for generating the reframed video."
                  }
                },
                "required": ["video", "output"],
                "type": "object"
              },
              "examples": {
                "ReframedVideoInputRequestPayload": {
                  "summary": "Video input to generate reframed video output",
                  "value": {
                    "video": {
                      "source": {
                        "url": "<pre-signed_URL_to_download_the_video_input>"
                      }
                    },
                    "analysis": {
                      "sceneEditDetection": true,
                      "focalPoints": []
                    },
                    "composition": {
                      "overlays": [
                        {
                          "source": {
                            "url": "<pre-signed_URL_to_download_the_overlay_input>"
                          },
                          "startTime": "00:00:05:00",
                          "duration": "00:00:05:00",
                          "scale": {
                            "width": 500,
                            "height": 500
                          },
                          "position": {
                            "anchorPoint": "top_left",
                            "offsetX": 500,
                            "offsetY": 500
                          },
                          "repeat": "loop"
                        }
                      ]
                    },
                    "output": {
                      "format": {
                        "media": "mp4"
                      },
                      "renditions": [
                        {
                          "aspectRatio": {
                            "x": 1,
                            "y": 1
                          },
                          "mediaDestination": {
                            "url": "<pre-signed_PUT_URL_to_upload_the_output_video_to_user_bucket>"
                          }
                        },
                        {
                          "aspectRatio": {
                            "x": 16,
                            "y": 9
                          }
                        }
                      ]
                    }
                  }
                },
                "ObjectDetectionExample": {
                  "summary": "Example with object detection for focal points",
                  "value": {
                    "video": {
                      "source": {
                        "url": "<pre-signed_URL_to_download_the_video_input>"
                      }
                    },
                    "analysis": {
                      "sceneEditDetection": true,
                      "focalPoints": ["car", "people"]
                    },
                    "output": {
                      "format": {
                        "media": "mp4"
                      },
                      "renditions": [
                        {
                          "aspectRatio": {
                            "x": 16,
                            "y": 9
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response indicating that the reframed video job has been successfully submitted.",
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "description": "The unique identifier for the job."
                    },
                    "statusUrl": {
                      "type": "string",
                      "description": "The URL to monitor the status of the job."
                    }
                  },
                  "required": ["jobId", "statusUrl"],
                  "type": "object"
                },
                "examples": {
                  "GenerateReframedVideoResponse": {
                    "summary": "Response for successful job submission",
                    "value": {
                      "jobId": "<jobId>",
                      "statusUrl": "https://<base_URL>/v1/status/<job_ID>"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response for the reframed video job.",
                  "properties": {
                    "error_code": {
                      "type": "string",
                      "description": "A code representing the specific error type."
                    },
                    "message": {
                      "type": "string",
                      "description": "A description of the error that occurred."
                    }
                  },
                  "required": ["message", "error_code"],
                  "type": "object"
                },
                "examples": {
                  "ErrorBodyBadRequest": {
                    "summary": "Error Body Bad Request",
                    "value": {
                      "error_code": "400001",
                      "message": "Invalid request. Please check the input data."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response for the reframed video job.",
                  "properties": {
                    "error_code": {
                      "type": "string",
                      "description": "A code representing the specific error type."
                    },
                    "message": {
                      "type": "string",
                      "description": "A description of the error that occurred."
                    }
                  },
                  "required": ["message", "error_code"],
                  "type": "object"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "summary": "Error Body Unauthorized",
                    "value": {
                      "error_code": "401013",
                      "message": "OAuth token is not valid."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response for the reframed video job.",
                  "properties": {
                    "error_code": {
                      "type": "string",
                      "description": "A code representing the specific error type."
                    },
                    "message": {
                      "type": "string",
                      "description": "A description of the error that occurred."
                    }
                  },
                  "required": ["message", "error_code"],
                  "type": "object"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "summary": "Error Body Forbidden",
                    "value": {
                      "error_code": "403220",
                      "message": "Token not allowed in the current context."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response for the reframed video job.",
                  "properties": {
                    "error_code": {
                      "type": "string",
                      "description": "A code representing the specific error type."
                    },
                    "message": {
                      "type": "string",
                      "description": "A description of the error that occurred."
                    }
                  },
                  "required": ["message", "error_code"],
                  "type": "object"
                },
                "examples": {
                  "ErrorBodyResourceNotFound": {
                    "summary": "Resource Not Found",
                    "value": {
                      "error_code": "404001",
                      "message": "The requested resource was not found."
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response for the reframed video job.",
                  "properties": {
                    "error_code": {
                      "type": "string",
                      "description": "A code representing the specific error type."
                    },
                    "message": {
                      "type": "string",
                      "description": "A description of the error that occurred."
                    }
                  },
                  "required": ["message", "error_code"],
                  "type": "object"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "summary": "Method Not Allowed",
                    "value": {
                      "error_code": "405001",
                      "message": "The requested method is not allowed on this endpoint."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response for the reframed video job.",
                  "properties": {
                    "error_code": {
                      "type": "string",
                      "description": "A code representing the specific error type."
                    },
                    "message": {
                      "type": "string",
                      "description": "A description of the error that occurred."
                    }
                  },
                  "required": ["message", "error_code"],
                  "type": "object"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "message": "Too Many Requests",
                      "error_code": "429011"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response for the reframed video job.",
                  "properties": {
                    "error_code": {
                      "type": "string",
                      "description": "A code representing the specific error type."
                    },
                    "message": {
                      "type": "string",
                      "description": "A description of the error that occurred."
                    }
                  },
                  "required": ["message", "error_code"],
                  "type": "object"
                },
                "examples": {
                  "ErrorBodyInternalServerError": {
                    "summary": "Internal Server Error",
                    "value": {
                      "error_code": "500001",
                      "message": "An internal server error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/status/{jobId}": {
      "get": {
        "tags": ["Reframe", "Manage jobs"],
        "summary": "Get job result",
        "description": "This endpoint retrieves the result of an asynchronous reframed job initiated using the job ID.",
        "operationId": "job-result-v2",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The job ID to get status for an asynchronous generate reframed video job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Job response on status API.",
                  "oneOf": [
                    {
                      "title": "Job In Progress",
                      "type": "object",
                      "description": "Response indicating that the reframed video job is in progress.",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "not_started",
                            "running",
                            "failed",
                            "succeeded",
                            "partially_succeeded"
                          ],
                          "description": "The status of the reframed video job."
                        },
                        "jobId": {
                          "type": "string",
                          "description": "The unique identifier for the job."
                        }
                      },
                      "required": ["status", "jobId"]
                    },
                    {
                      "title": "Job Success",
                      "type": "object",
                      "description": "Success response for the reframed video job.",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "not_started",
                            "running",
                            "failed",
                            "succeeded",
                            "partially_succeeded"
                          ],
                          "description": "The status of the reframed video job."
                        },
                        "jobId": {
                          "type": "string",
                          "description": "The unique identifier for the job."
                        },
                        "outputs": {
                          "type": "array",
                          "uniqueItems": true,
                          "description": "Array of output rendition results.",
                          "items": {
                            "oneOf": [
                              {
                                "title": "Successful Rendition",
                                "type": "object",
                                "properties": {
                                  "destination": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "The pre-signed URL pointing to the output."
                                      }
                                    },
                                    "required": ["url"],
                                    "description": "Details of the output destination, including a pre-signed URL."
                                  }
                                },
                                "required": ["destination"]
                              },
                              {
                                "title": "Failed Rendition",
                                "type": "object",
                                "description": "Error response for the generate reframed video job.",
                                "properties": {
                                  "error": {
                                    "type": "object",
                                    "properties": {
                                      "error_code": {
                                        "type": "string",
                                        "description": "A code representing the specific error type."
                                      },
                                      "message": {
                                        "type": "string",
                                        "description": "A description of the error that occurred."
                                      }
                                    },
                                    "required": ["message", "error_code"],
                                    "description": "Details of the error encountered during the reframing process."
                                  }
                                },
                                "required": ["error"]
                              }
                            ]
                          }
                        }
                      },
                      "required": ["status", "jobId", "outputs"]
                    },
                    {
                      "title": "Job Partial Success",
                      "type": "object",
                      "description": "Response for a reframed video job that partially succeeded.",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "not_started",
                            "running",
                            "failed",
                            "succeeded",
                            "partially_succeeded"
                          ],
                          "description": "The status of the reframed video job."
                        },
                        "jobId": {
                          "type": "string",
                          "description": "The unique identifier for the job."
                        },
                        "outputs": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "title": "Successful Rendition",
                                "type": "object",
                                "description": "Success response for the generate reframed video job.",
                                "properties": {
                                  "destination": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "The pre-signed URL pointing to the output."
                                      }
                                    },
                                    "required": ["url"],
                                    "description": "Details of the output destination, including a pre-signed URL."
                                  }
                                },
                                "required": ["destination"]
                              },
                              {
                                "title": "Failed Rendition",
                                "type": "object",
                                "description": "Error response for the generate reframed video job.",
                                "properties": {
                                  "error": {
                                    "type": "object",
                                    "properties": {
                                      "error_code": {
                                        "type": "string",
                                        "description": "A code representing the specific error type."
                                      },
                                      "message": {
                                        "type": "string",
                                        "description": "A description of the error that occurred."
                                      }
                                    },
                                    "required": ["message", "error_code"],
                                    "description": "Details of the error encountered during the reframing process."
                                  }
                                },
                                "required": ["error"]
                              }
                            ]
                          },
                          "description": "Details of the job's partial success, including successful outputs and any errors encountered."
                        }
                      },
                      "required": ["status", "jobId", "outputs"]
                    },
                    {
                      "title": "Job Failure",
                      "type": "object",
                      "description": "Error response for a reframed video job that failed.",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "not_started",
                            "running",
                            "failed",
                            "succeeded",
                            "partially_succeeded"
                          ],
                          "description": "The status of the reframed video job, indicating a failure."
                        },
                        "jobId": {
                          "type": "string",
                          "description": "The unique identifier for the job."
                        },
                        "outputs": {
[...]
